<<<<<<< HEAD
<div id="need-btn-<%= need.id %>" class="col-xs-12 col-md-6">
=======


<li id="need-btn-<%= need.id %>" >
>>>>>>> Added the rest of the organizations and needs to the seed file
  <% if need.enabled? %>
    <% url = admin_need_disable_path(need) %>
    <% style = 'success' %>
  <% else %>
    <% url = admin_need_enable_path(need) %>
    <% style = 'secondary' %>
  <% end %>

  <%= button_to need.item, url, method: :patch, remote: true,
    class: "btn btn-inline btn-#{style} mt-2" %>

  <% if need.enabled? %>
    <%= link_to edit_admin_need_path(need),
      title: 'Add/edit comment',
      class: 'edit-need-link' do %>
      <%= open_iconic :icon, :wrench %>
    <% end %>
  <% end %>
</div>
