<%= form_for [:admin, @organization, @need] do |f| %>
  <div class="form-group">
    <%= f.label :item %>
    <%= f.text_field :item, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>

  <%= f.button 'Submit', class: 'btn btn-primary' %>
<% end %>
