<h1>Create a New Account</h1>

<div>

  <!-- Form to create an account -->

  <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :organization_id %>
      <%= f.collection_select :organization_id,
        Organization.all, :id, :name,
        { prompt: true },
        class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.submit 'Create Your Account', class: 'btn btn-primary' %>

  <% end %>

</div>
