<h1><%= @organization.name %></h1>
<p><%= @organization.description %></p>
<%= link_to @organization.address,
  "https://www.google.com/maps/search/?api=1&query=#{@organization.address.to_param}",
  target: '_blank'
%>

<h2>Needs</h2>
<% @needs.group_by(&:category).each do |category, needs| %>
  <h3><%= category.name %></h3>
  <div class="needs-list row">
    <% needs.each do |need| %>
      <%= render need %>
    <% end %>
  </div>
<% end %>
