<!DOCTYPE html>
<html>
  <head>
    <title>BrothersKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Create Account</a></li>
          <% if logged_in? %>
          <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav> 

    <%= yield %>
  </body>
</html>
