<!DOCTYPE html>
<html>
  <head>
    <title>BrothersKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
            <!-- if/else statement to change display; redirect to root after login and Org's main page content for selections will display -->
          <li><a href="/signup">Create Account</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav> 

    <%= yield %>
  </body>
</html>
